* {
	box-sizing: border-box;
}

body {
	background: #fff;
	color: #000;
	font-family: 'Montserrat', sans-serif;
	min-height: 100vh;
	display: flex;
	align-items: center;
}

.contenedor {
	max-width: 1200px;
	width: 90%;
	margin: auto;
}

/* --- --- CONTENEDOR PRINCIPAL --- --- */

.contenido-principal {
	margin-bottom: 50px;
	display: flex;
	align-items: center;
}

.contenido-principal__imagen {
	vertical-align: top;
	margin-right: 20px;
	width: 50%;
	max-width: 550px;
}

.contenido-principal__contenedor {
	width: 50%;
}

.contenido-principal__titulo {
	font-weight: normal;
	font-size: 28px;
}

.contenido-principal__resumen {
	font-family: 'Open Sans', sans-serif;
	line-height: 30px;
	color: #000;
}

/* --- --- CAROUSEL --- --- */
.carousel__contenedor {
	position: relative;
}

.carousel__anterior,
.carousel__siguiente {
	position: absolute;
	display: block;
	width: 30px;
	height: 30px;
	border: none;
	top: calc(50% - 35px);
	cursor: pointer;
	line-height: 30px;
	text-align: center;
	background: none;
	color: #F7B801;
	opacity: 20%;
}

.carousel__anterior:hover,
.carousel__siguiente:hover {
	opacity: 100%;
}

.carousel__anterior {
	left: -30px;
}

.carousel__siguiente {
	right: -30px;
}

.carousel__lista {
	overflow: hidden;
}

.carousel__elemento {
	text-align: center;
}

.carousel__indicadores .glider-dot {
	display: block;
	width: 30px;
	height: 4px;
	background: #F7B801;
	opacity: .2;
	border-radius: 0;
}

.carousel__indicadores .glider-dot:hover {
	opacity: .5;
}

.carousel__indicadores .glider-dot.active {
	opacity: 1;
}

@media screen and (max-width: 800px) {
	body {
		padding: 40px 0;
	}

	.contenido-principal {
		flex-direction: column;
	}

	.contenido-principal > * {
		width: 100%;
	}
}

/* ESTILOS GENERALES */
* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}

body {
    background-color:#fff;
    color: #000;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

#particles-js {
	height: 100vh; 
	width: 100%;
    position: fixed;
    z-index: -1;
}

.contenedor {
	width: 90%;
	max-width: 1200px;
    background-size: cover;
    background-image: url('../img/bg-header3.jpeg');
    background-position:center;
	margin-left: auto; 
	margin-right: auto;
    margin-top: 15px;
    padding: 20px 30px;
    position: relative;
    z-index: 99;
    opacity: .85;
}

.contenedor.header {
    height: calc(100vh - 55px);
    border: 3px solid #555555;
}

.barra-navegacion ul {
    display: flex; 
    justify-content: space-between;
    align-items: center;
}

.barra-navegacion li {
    list-style: none;
    display: inline-block;
}

.barra-navegacion .logo { 
    color:#3dff3e;
    font-size: 50px;
}

.barra-navegacion a {
    text-decoration: none;
    color: #fff;
    font-size: 19px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    border-bottom: 1px solid transparent;
    transition: .5s ease;
}

.barra-navegacion a:hover {
    color: #3dff3e;
    border-bottom: 1px solid currentcolor;
}